$proggy: "proggy", monospace;
$forum: "Forum", sans-serif;
$roboto-mono: "Roboto Mono", monospace;
$barcode: "Libre Barcode 39", monospace;
$unifraktur: "UnifrakturMaguntia", sans-serif;

// colors

$black: #010101;
$white: #f9f9f9;
$beige: #c5bfab;

// breakpoints

$large: 1700px;
$midLarge: 1300px;
$medium: 1200px;
$small: 900px;
