// css screen modules

@import "component/vars";
@import "component/options";
@import "component/play-area";
@import "component/settings";
@import "component/song-select";
@import "component/stars";
@import "component/anim";
@import "component/loading-icon";
@import "component/fonts";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// // misc elements

// // main elements
body {
  .mobile-warning {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 9999999999999999999;
    background-color: $black;
    color: $white;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    font-family: $roboto-mono;
  }

  cursor: url(../assets/image/cursor.png), auto;
  isolation: isolate;
  #preloader-container {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .preloader {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: black;
      padding: 2rem 0 0 3rem;
      font-family: $roboto-mono;
      color: $white;
      * + * {
        margin-top: 0.25rem;
      }
      .preloader-bar {
        height: 1.5rem;
      }

      #loading-icon-standard {
        margin-top: 1rem;
      }
    }
  }

  // // main

  main {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    isolation: isolate;

    section {
      height: 100%;
      width: 100%;
      position: absolute;
      overflow: hidden;

      &#start-menu {
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        isolation: isolate;
        // actual menu
        .menu-container {
          height: 100%;
          width: 100%;
          z-index: 10;

          display: flex;
          flex-direction: column;

          // actual stuff like the start button and title
          .menu-center {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            width: 100%;

            .main-title {
              display: flex;
              justify-content: center;
              align-items: center;
              height: auto;
              width: 100%;
              color: $white;
              font-size: 3em;
              font-family: $forum;
            }

            .main-menu-buttons {
              display: flex;
            }
          }

          // sub-menu buttons like links to my twitter, the github, some other stuff, etc
          .option-buttons {
            align-items: center;
            border-top: 1px solid #fff;
            color: #fff;
            display: flex;
            height: 4rem;
            padding: 0 2rem;
            width: 100%;
          }
        }

        // star container
        .stars-container {
          opacity: 1;
          z-index: 0;
          user-select: none;
          pointer-events: none;
          margin: 0 auto;
          height: 100vh;
          width: 100vw;
          position: absolute;
          display: flex;
          justify-content: center;
          overflow: hidden;
          align-items: center;
          will-change: transform;
          .starfield {
            will-change: transform;
            animation: spin 960s infinite linear;
            position: absolute;
            height: 300%;
            width: 200%;
            transform-origin: center;
            opacity: 1;
            transition: 0.5s;
            overflow: hidden;
          }
        }

        &.opaque {
          opacity: 1;
          transition: opacity 0.3s;
        }
      }
    }
  }
  @media (max-width: $midLarge) {
    section,
    main {
      display: none;
    }

    .mobile-warning {
      display: flex;
    }
  }
}
