// css modules

// misc modules
@use 'components/defaults'
@use 'components/fonts'
@use 'components/vars' as v
@use 'components/anim'
@use 'components/loading_icon'
@use 'components/mixins'

body
  isolation: isolate
  background-color: v.$black

  .mobile-warning
    display: none

  main
    z-index: 1
    height: 100vh
    width: 100vw
    padding: 0
    margin: 0
    position: absolute
    top: 0
    left: 0

  @media (max-width: v.$small)
    section,
    main
      display: none

    .mobile-warning
      display: block
