# assets that don't belong to me
/notmine

# node
/node_modules
.package-lock.json

# minified javascript
# *.min.js

# unminified libs I wrote
/js/libs/cheatcodes.js

# generated tags file
.tags
.tags_swap

# files I'm using that don't need to be in the repo
unicode.txt
song_names_game_modes_difficulty_names.txt
*_original
